---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- {{ content }} -->

  <h2>Terima Urugan Puing, Pasir, dan Batu di Kemang, Bogor!</h2>

  <p>Anda sedang mencari tempat untuk membuang puing bangunan, pasir, atau batu sisa proyek Anda? Kami menerima urugan puing, pasir, dan batu secara GRATIS di Desa Pondok Udik, Kemang, Bogor!</p> 

  <p><b>Lokasi Strategis</b>: Tempat kami berada di Desa Pondok Udik, Kemang, Bogor, lokasi yang cukup mudah dijangkau dari berbagai area di sekitar Bogor.</p>

  <p><b>Membantu Lingkungan</b>: Dengan membuang puing, pasir, dan batu di tempat kami, Anda turut berkontribusi dalam menjaga kebersihan lingkungan dan mengurangi limbah konstruksi.</p>

  <p><b>Sosial</b>: Dengan membuang puing, pasir, dan batu di tempat kami, Anda turut beramal mempermudah akses jalan bagi warga kampung Babakan, Desa Pondok Udik</p>
  
  <h2>Jenis Urugan yang Diterima:</h2>
  <ul>
    <li>Puing bangunan (beton, bata, keramik, dll.)</li>
    <li>Pasir (pasir urug, pasir bangunan, dll.)</li>
    <li>Batu (batu alam, batu split, dll.)</li>
  </ul>
  
  <h2>Syarat dan Ketentuan:</h2>
  <ul>
    <li>Urugan yang akan dibuang harus bersih dan bebas dari sampah organik atau bahan berbahaya.</li>
    <li>Kami menerima urugan dalam jumlah besar maupun kecil.</li>
    <li>Untuk informasi lebih lanjut dan konfirmasi, silakan hubungi kami melalui WhatsApp di nomor 0812-1313-0862.</li>
  </ul>
  
  <h2>Lokasi Kami:</h2>
  <p>Desa Pondok Udik, Kemang, Bogor</p>
  <p>Koordinat: -6.4891896871124155, 106.74163230403616</p>
  <p>Tautan Google Maps: <a href="https://maps.app.goo.gl/f8T1do4dTDuseUZU6">https://maps.app.goo.gl/f8T1do4dTDuseUZU6</a></p>
  

  
  

  <!-- {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.minima.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%} -->

</div>
